body {
    background: #374551;    
    font-family: 'Staatliches', cursive;
    color: #BAD4EB;
}

#mainNavbar {
    font-size: 1rem;    
}

#mainNavbar .nav-link{
    color: white;
}

#mainNavbar .nav-link:hover{
    color: #BAD4EB;
}

#mainNavbar .navbar-brand {
    color: #BAD4EB;
    font-size: 2rem;    
}

#intro1 {
    background: black;
}

#intro2 h1, #intro2 h3 {
    color: #343A40; 
}

#contact, #quote, #intro2 {
    background: #BAD4EB;
    color: #343A40;     
}

.cursive {
    font-family: 'Pattaya', sans-serif;
    font-size: 3rem;
}

h2 {
    color: white;
    font-size: 2rem;
}

footer {
    background: #343A40;    
    bottom: 10;
    width: 100%;
}